{
    "clusters": [
        {
            "nodes": [
                {
                    "node": {
                        "hostnames": {
                            "manage": [
                                "storage1"
                            ],
                            "storage": [
                                ""
                            ]
                        },
                        "zone": 1
                    },
                    "devices": [
                        "/dev/sdd"
                    ]
                },
                {
                    "node": {
                        "hostnames": {
                            "manage": [
                                "storage2"
                            ],
                            "storage": [
                                ""
                            ]
                        },
                        "zone": 2
                    },
                    "devices": [
                        "/dev/sdd"
                    ]
                },
                {
                    "node": {
                        "hostnames": {
                            "manage": [
                                "storage3"
                            ],
                            "storage": [
                                ""
                            ]
                        },
                        "zone": 1
                    },
                    "devices": [
                        "/dev/sdd"
                    ]
                }
            ]
        }
    ]
}
