## Purpose of this file is to allow the script to be run repeatedly via the local executing hosts
## The  groups gatewayed-masters and gatewayed-nodes are simply the names dns names of the machines behind the jumphosts
[all:vars]
publicjumpip={{ publicjumpip }}
publicjumpdns={{ publicjumpdns }}
routerpublicip={{ routerpublicip }}
publicjumpip={{  publicjumpip  }}
[azure_vms]
{{ publicjumpip }}

[gatewayed-masters]
{% for key, value in masters.iteritems() %}
{{ value.name }}
{% endfor %}
[gatewayed-nodes]
## nodes
{% for key, value in nodes.iteritems() %}
{{ value.name }}
{% endfor %}
## infra
{% for key, value in infranodes.iteritems() %}
{{ value.name }}
{% endfor %}
## masters
{% for key, value in masters.iteritems() %}
{{ value.name }}
{% endfor %}
## storage
{% for key, value in storage.iteritems() %}
{{ value.name }}
{% endfor %}
[gatewayed-storage]
## storage
{% for key, value in storage.iteritems() %}
{{ value.name }}
{% endfor %}
